//Mixin for flex-centering
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

//Media mixins for adaptability
@mixin respond-to($breakpoint) {
  @if $breakpoint == table {
    @media (max-width: 768px) {
      @content;
    }
  }
  @if $breakpoint == mobile {
    @media (max-width: 576px) {
      @content;
    }
  }
}