@use "abstracts";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html {
  font-size: abstracts.$font-size;
  font-family: abstracts.$font-family;
  font-weight: abstracts.$font-normal;
  line-height: abstracts.$line-height;
}

h1 {
  font-size: 3rem;
  font-weight: abstracts.$font-medium;
  line-height: abstracts.$line-height-sm;
}

h2 {
  font-size: 2rem;
  font-weight: abstracts.$font-medium;
  line-height: abstracts.$line-height-sm;
}

a {
  text-decoration: none;
  color: abstracts.$color-black;
}

.container {
  width: min(100% - abstracts.$gap-xl, abstracts.$container-primary);
  margin-inline: auto;
} 

.container-sm {
  width: min(100% - abstracts.$gap-xl, abstracts.$container-secondary);
  margin-inline: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  visibility: hidden;
}