@use "abstracts";

.header {
  background-color: abstracts.$color-gray-light;
  padding-top: 68px;
  padding-bottom: 141px;

  @include abstracts.respond-to(mobile) {
    padding-top: 40px;
    padding-bottom: 80px;
  }
}

.navbar {
  margin-bottom: 142px;

  @include abstracts.respond-to(mobile) {
    margin-bottom: 60px;
  }

  &__list {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 2vw;
    margin-left: -0.75em;

    @include abstracts.respond-to(table) {
      flex-wrap: wrap;
      justify-content: center;
      column-gap: abstracts.$gap-sm;
    }
  }

  &__item {
    flex-shrink: 1;
  }

  &__link {
    position: relative;
    display: block;
    text-transform: uppercase;
    letter-spacing: abstracts.$letter-spacing;
    padding: 0.5em 0.5vw;
    font-size: calc(11px + 0.3vw);
    white-space: nowrap;

    &--active {
      font-weight: abstracts.$font-medium;
      color: abstracts.$color-primary;
    }
  }
}