@use "abstracts";

.section {
  background-color: abstracts.$color-white;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;

  @include abstracts.respond-to(mobile) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__title {
    line-height: 1;
    margin-bottom: 50px;

    @include abstracts.respond-to(mobile) {
      margin-bottom: 30px;
    }
  }

  &__description {
    color: abstracts.$color-secondary;
    line-height: abstracts.$line-height;
  }
}

.about {
  background-color: abstracts.$color-white;

  &__description {
    color: abstracts.$color-secondary;
  }
}

.process {
  background-color: abstracts.$color-gray-light;
}