@use "abstracts";

.video {
  background-color: abstracts.$color-gray-light;
  padding-bottom: 100px;
  margin-top: calc(# {abstracts.$gap-xl} * -1);

  @include abstracts.respond-to(mobile) {
    padding-bottom: 60px;
  }

  &__iframe {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border: 0;
  }
}
